.detailHotelWrapper {
  margin: 20px auto 20px;
  width: 1080px;
}
.detailHotelFlex {
  display: flex;
  justify-content: space-between;
}

.detailHotelFlex span {
  margin-right: 10px;
}

.detailHotelFlex .detailHotelInfo .detailHotelName {
  font-size: 13px;
  margin: 10px 0 10px;
}

.detailHotelFlex .detailHotelInfo .detailHotelDistance {
  color: var(--color-primary-blue);
}

.detailHotelFlex .detailHotelInfo .detailHotelPrice {
  color: #008009;
  margin: 10px 0 10px;
}

.detailHotelFlex button {
  height: 40px;
  background-color: var(--color-primary-blue);
  border: none;
  color: var(--color-text-white);
}
.detailPhotoWrap {
  display: flex;
  flex-wrap: wrap; /* chọn wrap để các flex items có thể được wrap trong một dòng mới (xuống hàng dưới) vì chúng quá to khi ở trên 1 dòng */
  justify-content: space-between;
}

.detailPhotoList {
  flex-basis: 33%;
}

.imgUrlDetail {
  width: 100%;
}

.detailDescrWrap {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.detailDescrWrap .detail_Desc {
  flex-basis: 75%;
}

.detailDescrWrap .detail_Desc p {
  font-size: 14px;
}

.detailDescrWrap .detail_Desc h2 {
  margin-bottom: 10px;
}

.detailDescrWrap .detailPriceArticle {
  flex-basis: 22%;
  background-color: #ebf3ff;
  padding: 15px;
  text-align: center;
}

.detailDescrWrap .detailPriceArticle h4 {
  margin-bottom: 20px;
  color: #555;
}

.detailDescrWrap .detailPriceArticle h4 + p {
  font-size: 14px;
  margin-bottom: 20px;
  text-align: left;
}

.detailDescrWrap .detailPriceArticle .detailPriceAmount {
  font-size: 21px;
  margin-bottom: 20px;
  text-align: left;
}
.detailDescrWrap .detailPriceArticle .detailPriceAmount span {
  font-weight: bolder;
  color: #a31029;
}

.detailDescrWrap .detailPriceArticle button {
  background-color: var(--color-primary-blue);
  color: var(--color-text-white);
  border: none;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 0;
  width: 100%;
}
